---
import IconSymbol from "../ui/IconSymbol.astro";
---

<div class="mock-tab-bar">
  <div class="mock-tab-bar__item">
    <IconSymbol name="orbit" size={14} />
    <span>Present</span>
  </div>
  <div class="mock-tab-bar__item">
    <IconSymbol name="clock" size={14} />
    <span>Past</span>
  </div>
  <div class="mock-tab-bar__item mock-tab-bar__item--active">
    <IconSymbol name="star" size={14} />
    <span>Relics</span>
  </div>
</div>
