---
---

<div class="mock-phone-frame">
  <div class="mock-phone-frame__shell">
    <div class="mock-phone-frame__notch"></div>
    <div class="mock-phone-frame__screen">
      <slot />
    </div>
  </div>
</div>
