---
import type { StepItem } from "../../types";
import StepShowcaseDesktop from "./StepShowcaseDesktop.astro";
import StepShowcaseMobile from "./StepShowcaseMobile.astro";

interface Props {
  steps: StepItem[];
}

const { steps } = Astro.props as Props;
---

<div class="step-showcase">
  <StepShowcaseDesktop steps={steps} />
  <StepShowcaseMobile steps={steps} />
</div>
